*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

#fixe
{
   position: fixed;
   width: 100%;
   height: 30px;
   top: 0px;
   bottom: 0px;
}

.background{
    background-size: cover;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

br.entete {
    line-height: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

li a:hover:not(.active) {
    background-color: #04AA6D;
}

.active {
    background-color: #04AA6D;
}

.button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    }

.button:hover{
    background: #04AA6D;
}

div.centrer {
    text-align: center;
}

table {
    margin: 0 auto;
}

tr.margeenbas {
    margin-bottom: 1cm;
}

td.centrer {
    text-align: center;
}

h1 {
    font-size: 40px;
    font: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: #04AA6D;  
}

h2 {
    font-size: 25px;
    font: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: #04AA6D;  
}

